version: "3"

networks:
    default:
        external:
            name: aml-ingress

services:
    zk-relay-backend-org1:
        container_name: zk-relay-backend-org1
        image: zk-relay-backend
        volumes:
           - ./config-org1:/usr/src/zk-aml-backend/config
        command: node app.js
        environment:
            - MSPID=Org1MSP
        ports:
            - "5001:3000"
    zk-relay-backend-org2:
        container_name: zk-relay-backend-org2
        image: zk-relay-backend
        volumes:
           - ./config-org2:/usr/src/zk-aml-backend/config
        command: node app.js
        environment:
            - MSPID=Org2MSP
        ports:
            - "5002:3000"
